</br>
<div class="text-center">
  <% include error.ejs %>
</div>

<div class="row">
  <div class="col">
    <div>
      <div class="lobby">
        <h3>Current Games</h3>
        <div class="table-responsive">
          <table id="games-table" style="width:100%" class="text-center">
            <% if( typeof games != "undefined") { %>
              <thead>
                <th class="has-games">Game Name</th>
                <th class="has-games">Total Players</th>
                <th class="has-games">Join Game</th>
              </thead>
              <% games.forEach(( game ) => { %>
                <tr style="margin: 3px">
                  <td><%= game.name %></td>
                  <td><%= game.max_number_of_players %></td>
                  <td><a href="/game/<%= game.id %>" class="btn btn-md btn-success btn-block" role="button">Join</a></td>
                </tr>
              <% });  %>
            <% } else { %>
              <thead>
                <th class="no-games">No Current Games. Please create a game to play.</th>
                <th id="gameName" class="hide">Game Name</th>
                <th id="totalPlayers" class="hide">Total Players</th>
                <th id="joinGame" class="hide">Join Game</th>
              </thead>
            <% } %>
          </table>
        </div>

        <h3>Top 10 Scores</h3>

        <div class="table-responsive">
          <table style="width:100%" class="text-center">
            <% if( typeof scores != "undefined") { %>
              <tr>
                <th>Name</th>
                <th>Total Score</th>
              </tr>
              <% scores.forEach(( score ) => { %>
                <tr>
                  <td><%= score.username %></td>
                  <td><%= score.total_score %></td>
                </tr>
              <% }); %>
            <% } else { %>
              <tr><p>No Scores.</p></tr>
            <% } %>
          </table>
        </div>

        <div class="form-signin">
          <a href="/game" class="btn btn-lg btn-success btn-block" role="button">Create Game</a>
        </div>
        
      </div>
    </div>
  </div>

  <div class="col">
    <div class="chat">
      <div id="menu">
        <h3>Chat -  Welcome, <b><%= username %></b></h3>
        <div style="clear:both">
          <div class="chat-messages">
            <div id="chat-window" class="table-responsive-chat">
              <table id="message-list" style="width:100%"></table> 
            </div>
          </div>
          
          <div>
            <form id="chat-message-form" class="row">
              <input id="message" class="form-control chat-input" autocomplete="off" />
              <button id="chat-submit-button" class="btn btn-info form">Send</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="../scripts/lobby.js"></script>